
 #box{ height:150px; width:150px;  background-color: aquamarine; border: 5px solid #000;
padding: 50px 50px; margin: 50px 50px;
text-align: center;
align-items:center;
display: flex;
border-style: double; border-color: red;}

#m{ background-color:lightblue;}
 .n{list-style: none; display: inline-block; font-weight: bold; word-spacing: 30px; text-decoration-line:none; text-decoration: none;}

